<section>
  <div class="bg1-container">
    <div class="title-container">
      <header id="page-title">
        <div class="first-title">A&N</div>
        <div class="sec-title">FoodieBuddy</div>
      </header>
    </div>
  </div>

  <div class="passion-container">
    <div class="heading-label">Our Story</div>
    <div class="container">
      <div class="heading-title">THE PASSION FOR BURGER</div>
      <br>
      <img src="/images/burgerpassion.jpeg" height="400px" width="600px" alt="Burger View">
      <br><br>
      <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. <br> Just click “Edit Text” or double click
        me to add your own content and make changes to the font. <br> Feel free to drag and drop me anywhere you like on
        your page. I’m a great place for you to tell a <br> story and let your users know a little more about you.</p>
    </div>
  </div>

  <div class="bg2-container">
    <div class="order-container">
      <div class="order-out">
        <div class="order-out-box">
          <p class="take-out">ORDER TAKE OUT</p>
          <p class="see-take-out"><a href="#">See Our Menu</a></p>
        </div>
      </div>
      <div class="order-out">
        <div class="order-out-box">
          <p class="take-out">EAT HERE</p>
          <p class="see-take-out"><a href="#">See Our Menu</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="bgReservation-container">
    <div class="reservation-label">Reservations</div>
    <div class="reservation-container">
        <div class="heading-title">MAKE A RESERVATION</div>
        <br><br>
        <div class="res-field-container">
            <div class="res-in-line">
              <input class="reservation-field" placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')">
            </div>
            <div class="res-in-line">
              <select class="reservation-field">
                <option value="" disabled selected hidden>Time</option>
                <option value="8:00 AM">8:00 AM</option>
                <option value="9:00 AM">9:00 AM</option>
                <option value="10:00 AM">10:00 AM</option>
                <option value="11:00 AM">11:00 AM</option>
                <option value="12:00 AM">12:00 AM</option>
                <option value="1:00 PM">1:00 PM</option>
                <option value="2:00 PM">2:00 PM</option>
                <option value="3:00 PM">3:00 PM</option>
                <option value="4:00 PM">4:00 PM</option>
                <option value="5:00 PM">5:00 PM</option>
              </select>
            </div>
            <div class="res-in-line">
              <select class="reservation-field">
                <option value="" disabled selected hidden>Party Size</option>
                <option value="1 person">1 person</option>
                <option value="2 people">2 people</option>
                <option value="3 people">3 people</option>
                <option value="4 people">4 people</option>
                <option value="5 people">5 people</option>
                <option value="6 people">6 people</option>
              </select>
            </div>
            <div class="res-in-line">
              <button class="reservation-button">Book Now</button>
            </div>
        </div>
    </div>
  </div>

  <div class="bg3-container">
    <div class="private-events-label">Private Events</div>
    <div class="container">
      <div class="private-events-title">FANCY A BURGER PARTY?</div>
      <br>
      <P>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit <br> Text” or double click
        me to add your own content and make changes to the font. Feel <br> free to drag and drop me anywhere you like on
        your page. I’m a great place for you to <br> tell a story and let your users know a little more about you.</p>
      <br>
      <button class="contact-button">Contact Us</button>
    </div>
  </div>

  <div class="bg4-container">
    <div class="location-container">
      <div class="grab-burger-title">COME GRAB A BURGER NOW!</div>
      <br><br>
      <div class="row justify-content-start">
        <div class="col-6 text-location">
          500 Terry Francois St. <br> San Francisco, CA 94158 <br>
          <br> Monday – Friday 07:00AM – 10:00PM<br> Saturday 09:00AM – 10:00PM<br> Sunday 08:00PM –11:00PM<br>
          <br> Tel: 123-456-7890<br> Email: info@mysite.com
        </div>
        <div class="col-6 justify-content-end">
          <img src="/images/mock-map.jpg" height="216px" width="410px" alt="Burger View">
        </div>
      </div>
    </div>
    <div class="mailing-container">
      <div class="row justify-content-start">
        <div class="col-6 justify-content-start">
          <img src="/images/facebook.svg" height="30px" width="30px" alt="Facebook">
          <img src="/images/instagram.svg" height="30px" width="30px" alt="Instagram">
          <img src="/images/twitter.svg" height="30px" width="30px" alt="Twitter">
          <br>
          <br> © 2018 by Blanche. Design Reference from <br> wix.com/demone2/pizza-restaurant
        </div>
        <div class="col-6 justify-content-end">
          <div class="alignment">
            <div class="join-font">Join Our Mailing List</div>
            <input class="justify-content-end email-input" placeholder="Email Address"><br>
            <button class="submit-email-button">Subscribe Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>